@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-family: "Montserrat", serif;
}

.notes-main {
  height: calc(100vh - 100px);

  @media (max-width: 768px) {
    height: calc(100vh - 80px);
  }
}
